@import url('https://fonts.googleapis.com/css2?family=Arizonia&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    font-family: 'Roboto', sans-serif;

}
body{
    margin: auto;
}
header{
    display: flex;
    justify-content: space-between;
}

nav{
    display: flex;
}
a{
    text-decoration: none;
    color: #ffff;
}
nav>a{
    text-decoration: none;
    padding-right: 2em;
    font-size: 25px;
    align-items: flex-start;
    color: #000;
}
nav>a:hover{
    color: #630808;
}
#logo>img{
    width: 100%;
}
#logo{
    width: 200px;
}
#pancarte{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url(assets/images/header_background.png) ;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 600px;
    /* padding: 30em; */
    /* filter: brightness(0.6); */
}

#pancarte-texte{
    position: absolute;
    top: 240px;
    left: 100px;

}
#pancarte-texte >h1{
    color: #ffff;
    font-size: 190px;
    margin: 0;
}
#pancarte-texte > p{
    font-size: 30px;
    color: #ffff;
}
.button{
    background-color: #630808;
    font-size: 18px;
    border-radius: 20px;
    padding: 10px;
    padding-left: 16px;
    border: 1px solid #630808;
}
.button:hover{
    transition: all 0.5s ease 0s;
    background-color: #630808;
    font-size: 19px;
    border-radius: 20px;
    padding: 12px;
    padding-left: 16px;
}
section{
    margin-top: 2em;
    margin-bottom: 2.5em;
}
section>p,h1{
    text-align: center;
}
section>h1{
    font-family: 'Arizonia', cursive;
    color: #630808;
    font-size: 50px;
    margin: 0;
}
.carte>h3{
    font-family: 'Arizonia', cursive;
    font-size: 40px;
    font-weight: 100;
}
section>p{
    font-weight: 600;
    margin-bottom: 50px;
}
#menu{
    display: flex;
    justify-content: space-around;
}
.carte>img{
    width: 290px;
}
.carte{
    text-align: center;
    border: 2px solid #630808;
    border-radius: 30px;
    width: 320px;
    padding: 20px;
}
.prix{
    background-color: #630808;
    color: #ffff;
    border-radius: 50%;
    position: absolute;
    width: 90px;
    height: 90px;
    top: 840px;
    margin-left: 290px;
}
span{
    font-size: 22px;
    font-weight: bold;
    text-align: center;
}
.fr{
    font-size: 13px;
    padding-left: 20px;
    position: absolute;
    top: 19px;
    left: 19px;
}
.pr{
    position: absolute;
    top: 40px;
    left: 12px;
}
footer{
    background-color: #630808;

}
#foot{
    display: flex;
    padding: 50px;
    justify-content: space-between;
}
#p-contact{
    padding: 15px;
    font-size: 17px;
}
#sociale{
    margin-top: 100px;
}
#logo-foot{
    width: 200px;
}
#lien img{
    width: 40px;
    margin-right: 5px;
}
                                        /* Page contact */




form{
    display: flex;
    margin-left: 30em;
}
#nom{
    background-color: white;
    border: 1px solid black;
    padding: 18px 25px;
}
#email{
    background-color: white;
    border: 1px solid black;
    padding: 18px 25px;
}
#objet{
    background-color: white;
    border: 1px solid black;
    padding: 18px 25px;
}
textarea{
    background-color: white;
    border: 1px solid black;
    border-radius: 10px;
    margin-left: 4em;
}
#button{
    background-color: #630808;
    color: white;
    border: 0;
    padding: 15px 20px 15px 20px;
    margin-left: 57em;
    cursor: pointer;
    border: 2px #630808 solid;
    font-size: 15px;
    font-weight: 500;
}
#button:hover{
    transition: all 0.5s;
    background-color: white;
    color: #630808;
}